* {
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #fff;
  transition: 0.5s all ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.btn-join {
  background: #ff9b1a;
  border-radius: 5px;
  color: #fff !important;
  padding: 9px 16px;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
}

.btn-join:hover {
  background: #e0a14e;
  border-radius: 5px;
  color: #fff !important;
  padding: 9px 16px;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.banner h1 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

.hg {
  min-height: 70vh;
}

.gi-1 {
  background-image: url(../images/dwin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  margin-right: 5px;
}

.gi-2 {
  background-image: url(../images/dwin2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  margin-right: 5px;
}

.gi-3 {
  background-image: url(../images/dwin3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.gi-1 h3,
.gi-2 h3,
.gi-3 h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  padding-top: 60px;
}

.services {
  background-image: url(../images/gallery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.service-detail ul {
  list-style: none;
}

.service-detail ul li {
  margin-bottom: 48px;
}

.service-detail ul li img {
  float: left;
  margin-right: 18px;
  height: 42px;
}

.service-detail ul li p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
}

.service-detail-1 {
  float: left;
}

.service-detail-2 {
  float: right;
}

.food-hg {
  height: 500px;
}

.food-content {
  width: 50%;
}

.food-content h2 {
  color: #0d235d;
  font-size: 38px;
  margin-bottom: 60px;
  font-weight: 400;
}

.food-content p {
  color: #121212;
}

.food-content a {
  text-decoration: none;
}

.btn-food {
  background-color: #312782;
  font-size: 15px;
  padding: 7px 27px;
}

.food-content-2-bg {
  background-color: #120d40;
}

.food-content-2 {
  width: 50%;
}

.food-content-2 h1 {
  color: #fff;
  font-size: 65px;
  margin-bottom: 60px;
  padding-top: 160px;
}

.food-content-2 p {
  color: #fff;
  margin-bottom: 0;
}

.food-hg-2 {
  height: 60vh;
}

.event {
  background-color: #f8f7f7;
}

.event h1 {
  color: #0d235d;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

.newsletter-logo img {
}

.newsletter-detail ul {
  list-style: none;
}

.newsletter-detail ul li {
  margin-top: 40px;
}

.newsletter-detail ul li i {
  float: left;
  margin-right: 25px;
  font-size: 25px;
  color: #0d235d;
}

.newsletter-detail ul li p {
  color: #0d235d;
  font-size: 16px;
}

.newsletter-detail h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

.form {
  margin-top: 10px;
  width: 30px;
}

.form input {
  background: #eef1ec;
  border: none;
  padding: 10px 0;
}

.form input:focus {
  border: none;
}

.form input::placeholder {
  color: 83a7a5;
  padding-left: 10px;
}

footer {
  background: #120d40;
}

.footer {
  margin: auto;
  padding: 20px 0;
}

.footer i {
  color: #fff;
  font-size: 30px;
  transition: 0.5s all ease-in-out;
  margin: 0 10px;
}

.footer i:hover {
  color: #008ed6;
  cursor: pointer;
}

.footer h3 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  font-weight: 400;
}

.bottom-footer {
  background: #08042a;
}

.bottom-footer p {
  font-size: 13px;
  color: #fff;
  margin: 0;
  padding: 0;
}
